.material-icons.left {
    margin-right: 12px;
}

.material-icons.right {
    margin-left: 12px;
}

.no-link-nav {
    margin-right: 18px;
    margin-left: 18px;
}

.nav-letters {
    font-size: 1.04rem;
}

nav ul a {
    font-size: 1.04rem;
}

.chip {
    background-color: #ffe807;
    color: black;
    margin-bottom: 0;
}

.win {
    background-color: #f6fff7;
}

.lose {
    background-color: #ffe3df;
}

.win-text{
    color: green;
    font-weight: 600;
}

.neutral-text{
    color: black;
    font-weight: 600;
}

.lose-text{
    color: red;
    font-weight: 600;
}

.top-buffer-15 {
    margin-top: 1.1rem;
}

.tabs .indicator {
    background-color: green;
}

.tabs .tab a{
    color: #9cdcae;
}

.tabs .tab a:hover,.tabs .tab a.active {
    background-color:transparent;
    color:green;
}

.subText {
    color: darkgrey;
    font-style: italic;
    font-size: 19px;
}

.smaller {
    font-size: 1.03rem;
}

.price-text {
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
}

.balance-alert {
    color: red;
    font-weight: 300;
    font-size: 18px;
}

.hidden {
    visibility: hidden;
}

td {
    padding: 6px 5px;
}

.collapsible-header {
    padding: 0.1rem 1.5rem;
    overflow: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.h5Span {
    font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 0;
}

.h3Span {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
    font-weight: 400;
}

.top-buffer-30 {
    margin-top: 3.7rem;
}

.bot-buffer-30 {
    margin-bottom: 3.7rem;
}

.vmid {
    vertical-align: bottom;
    line-height: 0.85;
}

.centerWrap {
    text-align: center;
}

.centeredDiv {
    display: inline-block;
    margin: auto;
}

.sorter {
    vertical-align: bottom;
    line-height: 1.5;
}