.material-icons.left {
    margin-right: 0.75rem;
}

.material-icons.right {
    margin-left: 0.75rem;
}

.no-link-nav {
    margin-right: 1.125rem;
    margin-left: 1.125rem;
}

.nav-letters {
    font-size: 1.04rem;
    font-weight: 400;
}

nav ul a {
    font-size: 1.04rem;
    font-weight: 400;
    /*color: black !important;*/

}

.modal {
    width: 500px;
}

.small-chip {
    font-size: 0.625em;
    padding: 0.5em;
    line-height: 0.563em;
    height: 1.55em;
}

.win {
    background-color: #f6fff7;
}

.close {
    background-color: #fff9e6 !important;
}

.lose {
    background-color: #ffeee9;
}

.win-text {
    color: green;
    font-weight: 600;
}

.neutral-text {
    color: black;
    font-weight: 600;
}

.lose-text {
    color: red;
    font-weight: 600;
}

.warning-text {
    color: orange;
    font-weight: 600;
}

.top-buffer-15 {
    margin-top: 1.1rem;
}

.tabs .indicator {
    background-color: green;
}

.tabs .tab a {
    color: #9cdcae;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: green;
}

.subText {
    color: darkgrey;
    font-style: italic;
    font-size: 1.1875rem;
}

.smaller {
    font-size: 1.03rem;
}

.price-text {
    font-size: 1.0625rem;
    font-style: italic;
    font-weight: 500;
}

.balance-alert {
    color: red;
    font-weight: 300;
    font-size: 1.125rem;
}

.hidden {
    visibility: hidden;
}

td {
    padding: 0.375rem 0.3125rem;
}

.col-he-nu {
    padding: 0.1rem 1.5rem;
    overflow: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.h5Span {
    font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 0;
}

.modal-title-np {
    font-size: 1.64rem;
    line-height: 178%;
}

#playersList {
    width: 85%;
    margin: 1em auto 0;
}

.h3Span {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
    font-weight: 400;
}

.top-buffer-30 {
    margin-top: 3.7rem;
}

.bot-buffer-30 {
    margin-bottom: 3.7rem;
}

.vmid {
    vertical-align: bottom;
    line-height: 0.85;
}

.centerWrap {
    text-align: center;
}

.centeredDiv {
    display: inline-block;
    margin: auto;
}

.sorter {
    vertical-align: bottom;
    line-height: 1.5;
}

table.highlight tbody tr.win:hover {
    background-color: #9cdcae !important;
}

table.highlight tbody tr.lose:hover {
    background-color: #ffb4aa !important;
}

table.highlight tbody tr.close:hover {
    background-color: #ffe7c1 !important;
}

#numberSelected {
    vertical-align: bottom;
}

#playersList {
    column-count: 5;
}

ul.browser-default li {
    list-style-position: inside;
}

.input-alert {
    color: red;
    font-size: 0.8em;
    margin-top: 3em;
}

.upperCaseInput {
    text-transform: uppercase;
}

.little-top-buffer {
    margin-top: 2em;
}

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #ff8f00 !important;
    border-bottom: 2px solid #ff8f00 !important;
}

.pagination {
    margin-top: 1.5em;
}

.w900 {
    font-weight: 900;
}

.blockquote-green {
    border-left: 5px solid #9cdcae;
}

.blockquote-error {
    border-left: 5px solid #dc574f;
}

.no-text-overflow {
    word-wrap: break-word;
}

.font-15 {
    font-size: 0.938em;
}

.black-text {
    color: black !important;
}

.fill-height-container {
    display: flex;
    flex-direction: column;
}

.fill-height {
    flex: 1;
}

#chat-space {
    height: 30vh;
}

#chat-messages {
    overflow-y: hidden;
    height: 30vh;
    word-wrap: break-word;
    overflow-x: hidden;
}

#chat-messages:hover {
    overflow-y: scroll;
    height: 30vh;
    word-wrap: break-word;
    overflow-x: hidden;
}

.input-chat {
    display: inline-block;
}

#chat-send {
    text-align: center;
    display: inline-block;
    width: 2.2em;
    vertical-align: middle;
    padding-left: 0.75em;
    margin-left: 0.75em;
}

#chat-input-line {
    vertical-align: bottom;
}

.legend {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-left: 4em;
    margin-right: 0.5em;
}

.input-chat {
    margin-bottom: 0 !important;
}

#chat-input-line {
    margin-top: 0.5em;
}

#main-row {
    background-color: rgb(252, 252, 252);
}

#chat-card-content {
    padding-bottom: 0.65em;
}

.no-marg-bot {
    margin-bottom: 0;
}

/* label focus color */
.input-field input[type=email]:focus + label {
    color: #ff8f00 !important;
}

/* label underline focus color */
.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
    color: #ff8f00 !important;
}

/* label underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff8f00 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

/* label focus color */
.input-field input[type=number]:focus + label {
    color: #ff8f00 !important;
}

/* label underline focus color */
.input-field input[type=number]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

/* label focus color */
.input-field textarea:focus + label {
    color: #ff8f00 !important;
}

/* label underline focus color */
.input-field textarea:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

input[type=text]:focus {
    border-bottom: 1px solid #ff8f00 !important;
    box-shadow: 0 1px 0 0 #ff8f00 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #ff8f00 !important;
}

ul.pagination li.active {
    background-color: #ffa000 !important;
}

.alt-container {
    margin: 0 auto;
    max-width: 1600px;
    width: 90%;
}

.brand-logo img {
    height: 64px;
}

@media only screen and (max-width: 601px) {
    .brand-logo img {
        height: 56px;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}


